{% extends 'base.html' %}

{% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

{% block title %}{{ cluster["cluster-name"] }}{% endblock %}

{% block content %}

<h1>{{ sentence_case(cluster["cluster-name"]) }} cluster details</h1>
<ul>
{% for k, v in cluster.items() %}}
    <li>{{ k }}: {{ v }}</li>
{% endfor %}}
</ul>

<!--<button type="button" class="btn btn-primary">-->
<!--  Notifications <span class="badge badge-light">4</span>-->
<!--</button>-->

<!--eks-version-->
<!--account-id-->
<!--cluster-domain-->
<!--worker-instance-type-->
<!--worker-count-->
<!--ci-worker-instance-type-->
<!--ci-worker-count-->
<!--concourse-url-->

<!--<span class="badge badge-primary">Primary</span>-->
<!--<span class="badge badge-secondary">Secondary</span>-->
<!--<span class="badge badge-success">Success</span>-->
<!--<span class="badge badge-danger">Danger</span>-->
<!--<span class="badge badge-warning">Warning</span>-->
<!--<span class="badge badge-info">Info</span>-->
<!--<span class="badge badge-light">Light</span>-->
<!--<span class="badge badge-dark">Dark</span>-->


{% endblock %}