{% extends 'base.html' %}

{% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
{% for cluster in clusters %}
        <div class="column">
            <div class="card">
                <h1>{{ sentence_case(cluster["cluster-name"]) }} cluster</h1>
                <p>Account ID: {{ cluster["account-id"] }}</p>
                <p>EKS version: {{ cluster["eks-version"] }}</p>
                <p><a href="{{ cluster['concourse-url'] }}">Link to Concourse</a></p>
                <p>Cluster domain: <a href="https://{{ cluster['cluster-domain'] }}">{{ cluster["cluster-domain"] }}</a></p>
                <p>{{ cluster["worker-count"] }} x {{ cluster["worker-instance-type"] }} worker nodes</p>
                <p>{{ cluster["ci-worker-count"] }} x {{ cluster["ci-worker-instance-type"] }} CI nodes</p>
            </div>
        </div>
{% endfor %}
    </div>
</div>

{% endblock %}
